@import "tailwindcss";

/* Base settings */
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #ffffff;
    color: #4b5563;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Outfit', sans-serif;
    color: #111827;
    letter-spacing: 0.01em;
    font-weight: 500;
    line-height: 1.1;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cdd5e0;
    border-radius: 2px;
}

/* Tesla-style Pill & Radio Logic */
.pill-radio:checked+div {
    background-color: #111827;
    color: #ffffff;
    font-weight: 500;
    border-color: #111827;
}

.option-radio:checked+div {
    border-color: #1483ca;
    background-color: #eff6ff;
}

.option-radio:checked+div .check-icon {
    opacity: 1;
}

/* Typography & Spacing refinement */
section {
    padding: 8rem 0;
}

@media (max-width: 768px) {
    section {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
}